.container {
  padding: 0 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px #5873e8;
}

.container h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.container svg {
  margin-left: 8px;
  margin-right: 8px;
}

.container section {
  border-top: #fff solid 2px;
  padding: 16px;
}

.particles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: #333;
}

.particles canvas {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

@media (max-width: 420px) {
  .container h1 {
    font-size: 28px;
  }
}


@media (max-width: 360px) {
  .container h1 {
    font-size: 24px;
  }

  .container svg {
    width: 36px;
    height: 36px;
  }
}
